html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black !important;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    padding: 4%;
}
a{
    color: white;
    text-decoration: none !important;
}
a:hover{
    color: gray !important;
}

.navegacao {
    width: 100%; 
}

.navegacao
{
    display: flex;
}
.navegar
{
    display: flex;
    flex-direction: column !important;
}

.navbar {
    height: 60px; 
}

.navbar-brand {
    font-size: 1.5rem; 
}

.navbar-nav .nav-link {
    padding: 15px; 
}

.title-gerenciamento {
 

    padding: 7px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.hello {
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
}

#searchBar {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#content p {
    padding: 5px;
    font-size: 18px;
}


main {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin: 10px;
    flex: 1;
}
header img {
    height: 100px !important;
    width: auto;
    display: flex;
    right: 0;
}

.master {
    grid-column: span 2; 
    width: 300px !important; 
    height: 140px; 
}

.title {
    background-color: orange;
    padding: 3%;
    border-radius: 10px;
}

.cards-admin {
    background-color: rgba(255, 255, 255, 0.492);
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    cursor: pointer;

}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cards-admin img {
    max-width: 30px;
    margin-left: 10px;
}

.cards-admin h1 {
    font-size: 15px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.cards-admin h1{
    margin-left: 3px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.cards-admin p {
    margin: 0;
}

.cards-admin:hover{
    background-color: rgb(40, 38, 38);
}

.cards-admin button {

    background-color: transparent;
    border: none;
    
}

.icon {
    max-width: 30px;
}

footer {
    background-color: blue;
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

@media(max-width : 511px)
{
     main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
     }
}

@media (max-width: 719px) {

    header .navegacao {
        display: none; 
    }

}

@media (min-width: 620px) {
    main {
        display: flex;
        margin: 10px;
        justify-content: center; 
        align-items: flex-start;
        margin: 60px;
        flex: 1; 
    }
    hr{
        height: 20px;
    }
    header .navegacao {
        display: block; 
    }
    footer {
        display: none; 
    }
    .master {
        grid-column: span 4; 
        width: 620px !important; 
        height: 140px; 
    }
    .cards-admin{
        width: 600px;
    }
    #searchBar
    {
        width:70%;
    }
    
}


@media (min-width: 1360px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 640px); 
        grid-template-rows: auto; 
        gap: 20px; 
        justify-content: center; 
        margin: 60px;
        flex: 1; 
    }
    hr{
        height: 20px;
    }
    header .navegacao {
        display: block; 
    }
    footer {
        display: none; 
    }
    .master {
        grid-column: span 4; 
        width: 620px !important; 
        height: 140px; 
    }
    .cards-admin{
        width: 200px;
    }
    #searchBar
    {
        width:70%;
    }
    
} 






