html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black !important;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    padding: 4%;
}
a{
    color: white;
    text-decoration: none !important;
}
a:hover{
    color: gray !important;
}

.navegacao {
    width: 100%; /* Ocupa toda a largura da tela */
}

.navegacao
{
    display: flex;
}
.navegar
{
    display: flex;
    flex-direction: column !important;
}

.navbar {
    height: 60px; /* Ajuste a altura da barra de navegação conforme necessário */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte do nome da marca */
}

.navbar-nav .nav-link {
    padding: 15px; /* Ajuste o padding dos itens de navegação */
}

.title-gerenciamento {
 

    padding: 7px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.hello {
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
}

#searchBar {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#content p {
    padding: 5px;
    font-size: 18px;
}


main {
    display: grid;
    /* grid-template-columns: repeat(2, 140px);  */
    grid-template-rows: auto; 
    gap: 20px; 
    justify-content: center; 
    margin: 10px;
    flex: 1;
}
header img {
    height: 100px !important;
    width: auto;
    display: flex;
    right: 0;
}

.master {
    grid-column: span 2; 
    width: 300px !important; 
    height: 140px; 
}

.title {
    background-color: orange;
    padding: 3%;
    border-radius: 10px;
}
.cards-admin {
    background-color: rgba(255, 255, 255, 0.492);
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cards-admin img {
    max-width: 30px;
    margin-left: 10px;
    align-self: end;
}

.cards-admin h1 {
    font-size: 15px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    margin-left: 3px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.cards-admin p {
    margin: 0;
}

.cards-admin button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cards-admin button img {
    max-width: 20px;
}

.icon {
    max-width: 30px;
}

footer {
    background-color: blue;
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.cards-admin {
    flex: 1 1 calc(50% - 20px); 
    box-sizing: border-box; 
}

@media (max-width: 719px) {

    header .navegacao {
        display: none; 
    }

}

@media (min-width: 620px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adapta o número de colunas */
        grid-template-rows: auto;
        gap: 20px;
        justify-content: center;
        margin: 30px;
        flex: 1;
    }

    .cards-admin {
        width: 100%; /* Faz com que as cartas ocupem a largura total disponível na coluna */
        max-width: 600px; /* Define um limite máximo para a largura das cartas */
    }

    #searchBar {
        width: 70%;
    }
}

@media (min-width: 1360px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Continua adaptando o número de colunas */
        grid-template-rows: auto;
        gap: 20px;
        justify-content: center;
        margin: 60px;
        flex: 1;
    }

    .cards-admin {
        max-width: 400px;
    }

    #searchBar {
        width: 70%;
    }
}