body.light-mode
{
    background-color: antiquewhite !important;
    color: black !important;
}

body.light-mode #searchBar{
color: white;
    background-color: #222222 !important;
}

body.light-mode .cards-admin {
    background-color: #222222 !important;
}

body.light-mode .cards-admin:hover{
    background-color: rgb(65, 62, 62);
}

body.light-mode .title-gerenciamento {
    color: black;
}

body.light-mode input::placeholder,
body.light-mode textarea::placeholder {
    color: #ffffffb4 !important;
}
body.light-mode .title-page{
    color: rgb(236, 233, 233) !important;
}

.modeCenter
{
    top: 0;
    left: 0;
    margin: 10px; 
    cursor: pointer;
}

.mode{
    background-color: rgb(22, 15, 15);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 100%;
    
}
.mode:hover{
    opacity: 0.8;
}

.mode img
{
    height: 100%;
    width:auto;
}

.setModeIcon{
    width: auto; 
    height: 20px !important;
}

.navbar.custom-shadow {
    box-shadow: 0 20px 60px rgb(70 68 68 / 50%);
}
