<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Cadastro</title>
</head>
<body>

    <header>
        <a href="/"><button type="submit" id="voltar" class="btn btn-primary button">Voltar</button></a>
        <div class="logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvSTvqQvA7WuJQm47fleJFI3bQ9Q3KXKwxTg&s" alt=""></div>
    </header>

    <main>

        <h1>CADASTRO</h1>

        <form action="/user" method="post">
              <div class="mb-3">
                <label for="userCPF" class="form-label">CPF</label>
                <input type="text" id="userCPF" class="form-control" name="CPF" placeholder="Digite seu CPF" required>
              </div>

              <div class="mb-3">
                <label for="userEmail" class="form-label">E-mail</label>
                <input type="email" id="userEmail" class="form-control" name="email" placeholder="Digite seu e-mail" required>
              </div>

              <div class="mb-3">
                <label for="userConfirmarEmail" class="form-label">Confirmar e-mail</label>
                <input type="email" id="userConfirmarEmail" class="form-control" placeholder="Digite seu e-mail" required>
              </div>

              <div class="mb-3">
                <label for="senhaInput" class="form-label">Senha</label>
                <input type="password" id="senhaInput" class="form-control" name="password" placeholder="Digite sua senha" required>
              </div>

              <div class="mb-3">
                <label for="senhaConfirmacaoInput" class="form-label">Confirmar senha</label>
                <input type="password" id="senhaConfirmacaoInput" class="form-control" placeholder="Digite sua senha" required>
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="termosUso" onclick="check()" required>
                <label class="form-check-label termosUso" for="termosUso">Li e estou de acordo com os termos de uso</label>
              </div>
             
              <button type="submit" id="criarConta" class="btn btn-primary button">Criar conta</button>
          </form>
        
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
