html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black !important;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    padding: 4%;
}
a{
    color: white;
    text-decoration: none !important;
}
a:hover{
    background-color: gray;
}

.navegacao {
    width: 100%; /* Ocupa toda a largura da tela */
}

.navegacao
{
    display: flex;
}

.navbar {
    height: 60px; /* Ajuste a altura da barra de navegação conforme necessário */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte do nome da marca */
}

.navbar-nav .nav-link {
    padding: 15px; /* Ajuste o padding dos itens de navegação */
}

.hello {
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 140px); 
    grid-template-rows: auto; 
    gap: 20px; 
    justify-content: center; 
    margin: 10px;
    flex: 1;
}
header img {
    height: 100px !important;
    width: auto;
    display: flex;
    right: 0;
}

.master {
    grid-column: span 2; 
    width: 300px !important; 
    height: 140px; 
}

.title {
    background-color: orange;
    padding: 3%;
    border-radius: 10px;
}

.cards {
    background-color: rgba(255, 255, 255, 0.931);
    color: black;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cards img {
    max-width: 30px;
    margin-right: 5px;
}

.cards h1 {
    font-size: 15px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.cards p {
    margin: 0;
}

.cards button {
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    max-width: 30px;
}

footer {
    background-color: blue;
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

@media (max-width: 719px) {

    header .navegacao {
        display: none; 
    }

}

@media (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 140px); 
        grid-template-rows: auto; 
        gap: 20px; 
        justify-content: center; 
        margin: 10%;
        flex: 1; 
    }
    header .navegacao {
        display: block; 
    }
    footer {
        display: none; /* Ocultar o footer para telas maiores */
    }
    .master {
        grid-column: span 4; 
        width: 620px !important; 
        height: 140px; 
    }
    
}



